/*----------------------------------------
  Email App
------------------------------------------*/
.app-email .content-area
{
    /* width: calc(100% - 280px); */
    margin-top: 49px;
}

.app-email .content-area.content-left
{
    float: left;
}

.app-email .content-area.content-right
{
    float: right;
}

.app-email .content-area .app-wrapper .app-search
{
    position: relative;
}

.app-email .content-area .app-wrapper .app-search .search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;

    color: #bdbdbd;
}

.app-email .content-area .app-wrapper .app-search .app-filter
{
    max-width: calc(100% - 3rem);
    margin-bottom: .5rem;
    padding: .2rem;
    padding-left: 2.75rem;

    border: none;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.app-email .content-area .app-wrapper .app-search .app-filter:focus
{
    border-bottom: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}

.app-email .content-area .app-wrapper .email-header
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 1rem 1.5rem 1rem 0;

    border-bottom: 1px solid #e0e0e0;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.app-email .content-area .app-wrapper .email-header .left-icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
            align-items: baseline;
}

.app-email .content-area .app-wrapper .email-header .left-icons .action-icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 250px;
    margin-left: 1rem;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.app-email .content-area .app-wrapper .email-header i.material-icons
{
    cursor: pointer;

    color: #9e9e9e;
}

.app-email .content-area .app-wrapper .email-header .header-checkbox [type='checkbox'] + span:not(.lever):before,
.app-email .content-area .app-wrapper .email-header .header-checkbox [type='checkbox']:not(.filled-in) + span:not(.lever):after
{
    margin-left: 1.5rem;

    opacity: .5;
    border-radius: 4px !important;
}

.app-email .content-area .app-wrapper .delete-task,
.app-email .content-area .app-wrapper .delete-tasks,
.app-email .content-area .app-wrapper .sort-task
{
    cursor: pointer;
}

.app-email .content-area .app-wrapper .collection
{
    margin: 0;

    border: 0;
}

.app-email .content-area .app-wrapper .collection .collection-item
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: auto 1.35rem;
    padding-right: 0;
    padding-left: 0;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content
{
    width: 85%;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-bottom: .75rem;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area .user-media
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area .user-media img.avtar
{
    width: 38px;
    height: 38px;
    margin-right: .75rem;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title
{
    font-weight: 700;

    color: #424242;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-desc
{
    font-size: .9rem;
    line-height: 1.35rem;

    display: -webkit-box;
    overflow: hidden;

    margin-top: .25rem;

    text-overflow: ellipsis;

    color: #616161;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .badge
{
    font-size: .8rem;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-right: 8px;

    color: #616161;
    border-radius: 4px;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-content .badge i
{
    font-size: 1rem;
    line-height: 1.5rem;

    margin-right: .25rem !important;
}

.app-email .content-area .app-wrapper .collection .collection-item .list-date
{
    font-size: .8rem;

    color: #616161;
}

.app-email .content-area .app-wrapper .collection .collection-item .favorite i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .email-move i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .delete-task i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .email-label i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .attach-file i.material-icons
{
    cursor: pointer;

    color: #bdbdbd;
}

.app-email .content-area .app-wrapper .collection .collection-item .attach-file i.material-icons
{
    font-size: 1.4rem;

    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.app-email .content-area .app-wrapper .collection .collection-item .email-move i.icon-move
{
    margin-top: 15px;
}

.app-email .content-area .app-wrapper .collection .collection-item [type='checkbox'] + span:not(.lever):before,
.app-email .content-area .app-wrapper .collection .collection-item [type='checkbox']:not(.filled-in) + span:not(.lever):after
{
    margin-left: 3px;

    opacity: .5;
    border-radius: 4px !important;
}

.app-email .content-area .animate.fadeUp
{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.app-email .content-area .delay-6
{
    -webkit-animation-delay: .8s !important;
            animation-delay: .8s !important;
}

.app-email .content-area .no-data-found
{
    display: none !important;
}

.app-email .content-area .no-data-found.show
{
    display: block !important;
}

.snow-container
{
    padding: 1rem;

    border: 1px solid #dfe3e7;
    border-radius: 4px;
}

.snow-container .ql-snow,
.snow-container .ql-toolbar
{
    border: none;
}

.snow-container .ql-tooltip
{
    left: 0 !important;
}

.snow-container .ql-tooltip input[type=text]
{
    width: 100px;
}

.ql-editor.ql-blank::before
{
    left: .3rem;
}

.ql-editor
{
    min-height: 7.93rem;
    padding: 0;
}

body.dragging,
body.dragging *
{
    cursor: move !important;
}

.dragged
{
    position: absolute;
    z-index: 2000;

    opacity: .5;
}

.email-compose-sidebar
{
    position: fixed;
    z-index: 1003;
    top: -1px;
    right: 2rem;
    bottom: 0;
    left: auto;

    width: 24.8rem;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);

    opacity: 0;
    background-color: white;
    /* email sidebar */
    box-shadow: -8px 0 18px 0 rgba(25, 42, 70, .13);
}

.email-compose-sidebar.show
{
    -webkit-transform: translateX(9%) translateY(1px);
        -ms-transform: translateX(9%) translateY(1px);
            transform: translateX(9%) translateY(1px);

    opacity: 1;
}

.email-compose-sidebar .card
{
    box-shadow: none;
}

.email-compose-sidebar .card .card-header
{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.email-compose-sidebar .card .card-header .close-icon
{
    cursor: pointer;
}

.email-compose-sidebar .card .card-header .close-icon i
{
    font-size: 1.2rem;
}

.email-compose-sidebar .card .card-header .close-icon:focus
{
    outline: none;
}

.email-compose-sidebar .edit-email-item .file-field
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.email-compose-sidebar .edit-email-item .file-field .btn-file
{
    line-height: .2rem;

    height: 2rem;
    padding: 1.2rem 1rem;
}

.email-compose-sidebar .edit-email-item select option
{
    font-weight: 700;

    width: 50px;
    height: 32px;
}

.email-compose-sidebar .quill-wrapper .snow-container
{
    padding: 1rem;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.email-compose-sidebar .quill-wrapper .snow-container .ql-snow,
.email-compose-sidebar .quill-wrapper .snow-container .ql-toolbar
{
    border: none;
}

.email-compose-sidebar .quill-wrapper .snow-container .ql-toolbar .btn
{
    font-size: .8rem;
    line-height: .9;

    width: auto;
    margin-left: .8rem;
    padding: .467rem 1rem;

    color: white;
}

.email-compose-sidebar .quill-wrapper .snow-container .ql-toolbar .btn:hover
{
    color: White;
}

.email-compose-sidebar .quill-wrapper .snow-container .ql-tooltip
{
    left: 0 !important;
}

.email-compose-sidebar .quill-wrapper .snow-container .ql-tooltip input[type=text]
{
    width: 100px;
}

.email-compose-sidebar .quill-wrapper .ql-editor.ql-blank::before
{
    left: .3rem;
}

.email-compose-sidebar .quill-wrapper .ql-editor
{
    min-height: 7.93rem;
    padding: 0;
}

.email-compose-sidebar .cancel-email-item
{
    background: #ff4081;
}

.email-compose-sidebar .send-email-item
{
    background-color: #3f51b5;
}

.email-overlay
{
    position: absolute;
    z-index: 999;
    /* email overlay */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    opacity: 0;
}

.email-overlay.show
{
    visibility: visible;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width: 900px)
{
    .content-area
    {
        margin-top: -110px !important;
    }
    .content-area.content-right,
    .content-area.content-left
    {
        z-index: 1;

        float: none !important;

        width: 100%;
    }
    .sidebar .sidebar-content .sidenav-trigger
    {
        top: 87px;
    }
}
