@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 18%;
    background:#337ab7;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #6ebb4c;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.card-lire {
   color: #337ab7;
   text-align: end;
}
.accordion {

    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  #blog_accordion {
      color: #337ab7;
  }




  .panel_blog {
    padding: 0 18px;
    display: none;
    background-color: none !important;
    overflow: hidden;
  }
  /* gallerie */




.col-1-of-3
{
  display:inline-block;
  width:31%;
  margin: 0 0.75%;
}
div.item *
{

  width:100%;
  height: auto;
  transition: all 0.5s ease;
}

div.item
{
  position:relative;
  overflow:hidden;
  text-align:center;
  width:105%;

  background-color: #337ab7;
}
div.item *:hover
{
   opacity:0.5;
  filter:grayscale(100%);
}

div.item i
{
  position:absolute;
  top:50%;
  left:50%;
  border-radius:50%;  width: 60px;
  height: 60px;  line-height: 60px;
  font-size:32px;
  transform:translate(-50%, -50%) scale(0);
  transition:0.4s ease-in;

  background-color:white;
}
div.item:hover i
{
  transform:translate(-50%, -50%) scale(1);
}

/* random media query*/
@media screen and (max-width:800px)
{
  .col-1-of-3
  {
    display:block;
    width:100%;
    height:300px;
    margin: 25px 2px;

  }
  div.item, div.blue, div.red ,div.purple
  {
    margin:12px 0;
  }
}
.card-content .card-desc .card-lire {
  text-align: right;
}
.zoom-out img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.95;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 62%;
  max-width: 1200px;
  top: -55px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 24px;
  right: 183px;
  font-size: 35px !important;
  font-weight: bold;
  opacity: 2 !important;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width : 1024px){
  .modal-content {
    width: 98%;
    top: 100px;
  }
  .close{
    top: 125px;
    right: 25px;
  }
}
@media (max-width : 768px){
  .modal-content {
    width: 98%;
    top: 100px;
  }
  .close{
    top: 125px;
    right: 25px;
  }
  #gallerie{
    margin-bottom: 100px;
  }
}
@media (max-width : 414px) {
  .modal-content {
    width: 98%;
    top: 100px;
  }
  .close{
    top: 125px;
    right: 25px;
  }
}



.leftcolumn {
  float: left;
  width: 75%;
  margin-right: -32px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  margin-top: 30px;
}

/* Fake image */
.fakeimg {
  position: relative;
  width: 90%;
  padding: 20px;
  text-align: center;
  margin-left: 40px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: -12px;
}

/* Clear floats after the columns */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.ht{
  text-align: center;
    color: #6ebb4c;
    margin-top: -35px;
    padding-bottom: 0px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}
.card h2 {
  margin-left: 50px;
  color: #337ab7;
}
.card h5 {
  margin-left: 55px;
}
.card p {
    margin-left: 55px;
    color: #100f0f;
    font-size: 15px;
    padding-right: inherit;
    margin-right: 110px;
    font-weight: 500;
    font-family: inherit;
}
.fake_img {
    margin-bottom: 18px;
    margin-right: 40px;
}
.fake-img {
  margin-bottom: 40px;
  margin-right: 40px;
}
.card-buttom h4 {
  font-size: 16px;
  color: #333;
}
.card-buttom h2 {
  color: #337ab7;
}
.card-right h2 {
  color: #337ab7;
}
.card-right p {
  color: #333;
  font-size: 12px;
}
.fake-img p{
  color: #333;
}
.card-right h4{
  font-size: 12px;
  color: #333;
  margin-left:  0px;

}
.fake-img h5 {
  font-size: 18px;
}
.fake-img h4 {
  font-size: 12px;
}
#single_blog {
  margin-top: 65px;
}
.card-right h5 {
  font-size: 18px;
}
.card-right {
  margin-bottom: 40px;
}

@media (max-width : 1024px){
  .card-right h2{
    font-size: 21px;
  }
  .card-buttom h4 {
    font-size: 13px;
  }
}
@media (max-width : 768px){
    .fakeimg {
      width: 92%;
      margin-bottom: -15px;
      margin-left: 30px;
    }
    .card-right h5{

      margin-left: 55px;
    }
    .card-right h3 {
      margin-left: 51px;

    }
    .card-right h4 {
      margin-left: 57px;

    }
    .card p {
      font-size: 18px;
    }
    .card-right h2 {
      margin-left: 52px;
    }
    .fake_img {
      width: 60%;
      margin-left: 52px;
    }
    .card-right p {
      color: #333;
      font-size: 17px;
      margin-left: 58px;
   }
   .card-buttom h2 {
    margin-left: 52px;
   }
   .fake-img {
    width: 60%;
    margin-left: 52px;
   }
   .ht {
    text-align: center;
    color: #6ebb4c;
    margin-top: -35px;
    padding-bottom: 0px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 35px;
}
}
@media (max-width : 414px){
  .fakeimg{
    width: 97%;
    margin-left: 10px;
    margin-bottom: -25px;

  }
  .card p {
    margin-right: 0px;
  }
  .card-right h5{

    margin-left: 38px;
  }
  .card-right h3 {
    margin-left: 45px;
  }
  .card-right h4 {
    margin-left: 40px;
  }

  .fake_img{

    margin-bottom: 9px;
    margin-right: 45px;
    margin-left: 35px;
  }
  .card-right p {
    color: #333;
    font-size: 14px;
    margin-left: 43px;

  }
  .card-buttom h2 {
    color: #337ab7;
    margin-left: 42px;
  }
  .fake-img {
    margin-bottom: 40px;
    margin-right: 45px;
    margin-left: 30px;
  }
  .fake-img h4 {
    margin-left: 4px;
  }
  .fake-img p {
    margin-left: 6px;
  }
  .card-buttom h4 {
    margin-left: 4px;
  }
  .ht{
    font-size: 28px;
  }

}

