html,body{
    scroll-behavior: smooth;
}
.color-primary{
    color: #144fa3 !important;
}
.color-alt-1{
    color: #ed213e !important;
}
.color-alt-2{
    color: #6ebb4c !important;
}
.bg-primary{
    background-color: #144fa3 !important;
}
.bg-alt-1{
    background-color: #ed213e !important;
}
.bg-alt-2{
    background-color: #6ebb4c !important;
}

a:hover{
    text-decoration: none !important;
}
.flipper .front a{
    color: #144fa3;
}
.flipper .front p{
    font-size: 18px;
}
.flipper .back a{
    font-size: 25px;
}
.mb20{
    margin-bottom: 20px;
}

.w-100{
    width: 100%;
}

.btn-white{
    background: white !important;
    color: #333 !important;
}

.mt-25{
    margin-top: 25%;
}

.color-white{
    color: white;
}
.color-white:hover{
    color: #333;
}

.pt-30{
    padding-top: 30%;
}

.gbb-row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel .item img{
    max-height: 88vh;
}

.carousel-caption{
    /* right: unset !important; */
    /* left: 10% !important; */
    top:30%;
}

.carousel-caption h1 , .carousel-caption h2 , .carousel-caption h3{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0px;
    /* background-color: white;
    color:#181818;
    padding: 10px;
    width: fit-content;
    border-radius: 5px; */
}

.carousel-caption .btn {
    padding: 17px 30px;
}

.carousel-caption p{
    font-size: 32px;
}
.carousel .wrapper{
    background: black;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header.header-v3 .main-menu .gva_menu>li>a.btn {
    border: none;
    padding: 15px 15px;
    color: white;
}
header.header-v3 .main-menu .gva_menu>li>a:hover{
    text-decoration: none;
}

header.header-v3 .stuck .main-menu .gva_menu>li>a.btn{
    padding: 15px 15px;
}

.navigation .gva_menu .menu-item.active a{
    color: #144fa3;
}
.secEns .content .title h2{
    color: #144fa3;
    font-weight: 700;
}

.title-sub{
    color:#ed213e;
}

.btn-2{
    background-color: #ed213e !important;
    color: white !important;
}

.secAbt .highlight_content h4{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 0px !important;
}

.secAbt img{
    max-height: 100vh;
    /* height: -webkit-fill-available; */
    width: fit-content;
}

.secEns .content .desc{
    font-size: 17px;
}

.secEns .content .content-inner{
    padding-right: 25px;
    padding-left: 25px;

}

.secEns .content .sec-2 .title h2{
color: #ed213e;
}


.secEns .content  .sec-2  a.btn {
background-color: #ed213e;
}

.secEns .content  .sec-3 .title h2{
   color: #6ebb4c; 
}
.secEns .content  .sec-3  a.btn{
background-color: #6ebb4c;
}

footer .block .block-title>span{
    color: #6ebb4c;
}

header.header-v3 .area-main-menu .area-inner {
    padding-left: 20px !important;
}

a.btn {
    padding: 10px;
}

.prjPeda img{
    width: -webkit-fill-available;
    height: auto;
}

.team-header.text-center {
    overflow: hidden;
    height: 265px;
    border-radius: 5px;
}

.prjPeda h3:not(.title){
    font-size: 20px !important;
    color:#144fa3;
    padding: 20px 75px 6px !important; 
    height: 95px;
}

.carousel-caption .title-sub{
    color: white;
}

.widget.gsc-team .team-name {
    text-transform: none !important;
}

.carousel-caption .left {
    position: absolute;
    right: 20%;
    left: -12%;
    padding-bottom: 30px;
    text-align: left;
}
footer{
    background:#f5f5f5 !important;
    color: #333 !important;
}

.footer a:not(.btn){
    color: #333 !important;
}

.footer li.socials{
    font-size: 25px !important;
}

.copyright{
    background: white !important;
}

.mvv .content .desc{
    font-size: 20px !important;
}

.pt0{
    padding-top: 0 !important;
}

.my-10{
    margin-top: 10%;
    margin-bottom: 10%;
}
.maxH-350{
    max-height: 350px;
}

.px0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.form-control:not(textarea){
    padding: 5px 15px !important; 
    height: 50px !important;
}

.gavias-metro-box{
    min-height: 230px !important;
}
@media only screen and (min-width : 1024px){
    .carousel .item {
        height: 87vh;
    }
    .hr-slide{
        display: none;
    }
    .carousel .item .rapper{
        display: none;
    }
    .text-lg-right{
        text-align: right;
    }
    .text-lg-left{
        text-align: left;
    }
    .header-top a:not(.btn){
        margin-left: 20px;
    }

    .ml-lg-2{
        margin-left: 2rem;
    } 
    .mb-lg-1{
        margin-bottom: 1rem !important;
    }

}
@media only screen and (max-width : 756px){
    .d-sm-none{
        display: none;
    }
}

@media only screen and (max-width : 1024px){
    .carousel-caption .left{
        right: 0%;
        left: 0%;
        text-align: center;
    }
    .team-header.text-center{
        height:230px !important;
    }
    .widget.gsc-team.team-vertical .team-name{
        padding: 0 !important;
    }

    header.header-v3 .main-menu .gva_menu>li>a.btn{
        margin: 15px;
        text-align: center !important;
        color: white !important;
    }
    .carousel-caption h1, .carousel-caption h2, .carousel-caption h3{
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 16px;
    }
    .carousel .item .wrapper{
        display: unset;
    }
    .carousel .item:nth-of-type(1) {
        background: url('../images/slider/slide-mobile-GBA.png') left no-repeat !important;
        height: 80vh;
        background-size:  100%;
    }
    .carousel .item:nth-of-type(2) {
        background: url('../images/slider/slider-2.jpg') left no-repeat  !important;
        height: 80vh;
        background-size: 100%;
    }
    .carousel .item:nth-of-type(3) {
        background: url('../images/slider/slider-1.jpg') left no-repeat  !important;
        height: 80vh;
        background-size: 100%;
    }
    .text-md-center{
        text-align: center;
    }
    .mb-md-1{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:767px){
    .team-header{
        height: auto !important;
    }
    .widget.gsc-team.team-vertical .team-name{
        padding: 0px 5px !important;
    }
    .mvv .content .title{
        margin-top: 100%;
    }
    
}


.menu-item {
    color: black;
}

.menu-item:hover{
    color: #ed213e;
}

header.header-v3{
    margin-top: 0px !important;
}

.header-top {
    background-color: #6ebb4c;
    padding:0rem 0rem

}

.header-top i{
    font-size: 28px;
    margin: 0px 5px 0px 0px;
}


.mt-1{
    margin-top: 1rem;
}

.header-top *{
    color: white;
}
header.header-v3 .main-menu .gva_menu>li>a:not(.btn) {
    padding: 35px 8px !important;
    font-weight: 800;
    font-size: 12px;
}

.ml-2{
    margin-left: 2rem;
}

.p-0{
    padding:0 !important;
}

.secAbt p {
    font-size: 18px;
    color: #100f0f;
    padding-top: 5px;
}

.img-fluid{
    width: 100%;
}

.club .overlay{
    position: absolute;
    width: 100%;
    height:100vh;
    top: 0;
    left: 0;
    color: white;
}
.club .item img{
    border-radius: 10px;
}
.club .item .overlay{
    position: absolute;
    width: 100%;
    height: fit-content;
    top: unset;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;
}

.club h1{
    margin-top: 35vh;
    font-size: 40px;
    font-weight: 600;
}

.club p , .club li{
    font-size: 17px;
}

.club li::before{
    content: "•";
    font-size: 30px;
    color: #ed213e;
    margin: 0px 10px;
    vertical-align: middle;
    
}

.m-20{
    margin: 20px;
}

.mt-2{
    margin-top: 2rem;
    width: 100%;
    height: auto;
}
#country {
    width: 28px;
    padding-top: 6px;
}
.navigation .gva_menu li{
    font-weight: bold;
}
header.header-v3 .main-menu .gva_menu>li>a.btn{
    font-weight: bold;
    background-color: #ed213e;
    /* background-color: #144fa3; */
}
header.header-v3 .main-menu .gva_menu>li>a.btn:hover{
    background-color: #6ebb4c !important;   
}
.mb-1{
    margin-bottom: 1rem !important;
}
.carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
    font-size: 40px;
}
#Simage {
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
}
.P-S {
    padding-top: 45px;
    margin-top: -215px;
    padding-bottom: 55px;
    font-size: 32px;
    font-weight: 700;
    text-align: center !important;
    line-height: 35px;
    
}
 .P-S p {
     text-align: center !important;
 }
#H {
    font-size: 25px;
    text-align: center;
}
.approche-title{
    font-size: 25px;
    text-align: center;
}
.widget.gsc-heading .title-desc {

    font-size: 16px !important;
    color: #000000 !important;
    
}
.gsc-box-info .content .title {
    font-size: 26px;
    margin-bottom: 20px;
}
.gsc-box-info .content .content-inner {
    position: relative;
    z-index: 9;
}
#theatre {
    text-align: center;
    padding-bottom: 35px;
    color: #144fa3;
    font-size: 30px;
    font-weight: 700;
}
.club li {
    margin-bottom: -5px;
}
#h-gallerie {
    text-align: center;
    color: #144fa3;
    font-size: 30px;
    font-weight: 700;
}
#robo {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.club .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
    color: white;
}
    #robo {
        position: absolute;
    width: 92%;
    height: fit-content;
    top: unset;
    bottom: 0;
    left: 15px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 0px;
    }
    @media screen and (max-width:767px){

        .carousel-caption h1, .carousel-caption h2, .carousel-caption h3{
            font-size: 35px;
        }
    }
    @media (max-width:576px) {
        #nav1 {
            text-align: center;
        }
        #nav2 {
            text-align: center;
        }
        #nav {
            text-align: center;
        }
        .header-top * {
            margin-right: 3px;
            
        }
        #country {
            padding-top: Opx;
            margin-top: -15px !important;
        }
        
        #btn {
            margin-top: 15px !important;
            padding: 8px !important;
            margin-left: -5px !important;
        }
        .btn {
            margin-top: 10px !important;
        }
        .carousel-caption p {
            font-size: 16px;
        }
        .P-S {
            font-size: 20px;
            text-align: center;
        }
        .carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
            font-size: 20px !important;
        }
       

    }
    @media (max-width:768px){
        .carousel .item:nth-of-type(1) {
            background: url('../images/slider/slide1-banner.png') center no-repeat ; background-size: cover !important;
            
        }
        .carousel .item:nth-of-type(2) {
            background: url('../images/slider/slider-2-banner.png') center no-repeat ; background-size: cover  !important;
            
        }
        .carousel .item:nth-of-type(3) {
            background: url('../images/slider/slider-1-banner.png') center no-repeat ; background-size: cover  !important;
           
        }
        #nav1 {
            text-align: center;
        }
        #nav2 {
            text-align: center;
        }
        #nav {
            text-align: center;
        }
        .header-top * {
            margin-right: 3px;
            
        }
        #country {
            padding-top: Opx;
            margin-top: -15px !important;
        }
        
        #btn {
            margin-top: 15px !important;
            padding: 8px !important;
            margin-left: -5px !important;
        }
        .btn {
            margin-top: 10px !important;
        }
        .gsc-box-info .content .content-inner {
            top: 0vh;

           }
           .P-S {
            font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    padding-bottom: 140px !important;
    margin-top: -21vh !important;
        } 
        .hr-slide {
            width: 100px;
            height: 2px;
            border: 1px solid #6ebb4c;
            background-color: #6ebb4c;
            position: relative;
            top: -7vh;
            left: 0%;
        } 
       
    }

    @media (max-width:375px) {
        #Pr-titre {
            margin-top: -25px !important;

        }
        .widget.gsc-icon-box {
            padding: 34px 0 !important;
        }
            
            
        .hr-slide {
            width: 50px;
        height: 2px;
        border: 1px solid #6ebb4c;
        background-color: #6ebb4c;
        position: relative;
        top: -10vh !important;
        left: 0%;
        }

        .header-top * {
            
            margin-right: 0px;
            
        }   
        .club li {
            display: flex;
            margin-bottom: 10px;
        } 
        .club p, .club li {
            margin-bottom: 20px;
        }
        .club li::before {
            margin-top: -8px;

        }
        #robo {
            width: 91%;
            left: 16px;
        }
        .left {
            margin-top: -40px !important;
        }
           
        .P-S {
            font-size: 11px !important;
            font-weight: 700 !important;
            line-height: 20px !important;
            padding-bottom: 62px !important;
            margin-top: -29vh !important;
        }  
        .h-t {
            text-align: center !important;
            color: #6ebb4c !important;
            margin-top: -20px !important;
            padding-bottom: 60px !important;
            font-size: 45px !important;
            font-weight: 700 !important;
            text-transform: uppercase !important;
        }
        .h-i {
            padding-bottom: 20px;
        }
        .carousel-caption p {
            font-size: 14px;
    }
      #Pr-titre {
        font-size: 30px;
        padding-top: 0px;
        margin-top: -16px !important;
      }
      .carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
        font-size: 20px !important;
    }
    
        
            

        .carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
            font-size: 28px;
        }
        

    }
    .gsc-box-info .content .content-inner {
        top: 10vh;
    }
    .carousel.fade {
        opacity: 1; }
          .carousel.fade .item {
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            left: 0 !important;
            opacity: 0;
            top: 0;
            position: absolute;
            width: 100%;
            display: block !important;
            z-index: 1;
        }
            .carousel.fade .item:first-child {
                top: auto;
                position: relative;
            }
            .carousel.fade .item.active {
                opacity: 1;
                -moz-transition: opacity ease-in-out .7s;
                -o-transition: opacity ease-in-out .7s;
                -webkit-transition: opacity ease-in-out .7s;
                transition: opacity ease-in-out .7s;
                z-index: 2;
            }
            .carousel-control { z-index: 2; }

            
@media (max-width:768px){
    .h-t {
        margin-top: -30px !important;
        padding-bottom: 80px !important;
    }
    .column-content-inner {
        padding-top: 20px;
    }
    .gbb-row {
        padding-bottom: 40px !important;
    }
    .widget.gsc-team.team-vertical .team-header img {
        display: flex;
        height: 40vh;
        max-width: 100%;
        width: 100%;
    }



    #ab {
        top: 0vh !important;
    
                }
}            
.gsc-box-info .content .content-inner {
    top: 0vh;

}
#ab  {
    top: 8vh;

}
.nav3 {
    width: 25px;
    margin-top: -10px;
    margin-left: 5px;
    
}
.my-auto {
    font-size: 15px !important;
    font-weight: bold !important;
    border-left: none ;
    border-right: none ;
    padding-left: 5px;
    padding-right: 5px;
}
.my-auto-n {
    font-size: 14px!important;
    font-weight: bold !important;
    border-left: ridge ;
    border-right: none ;
    padding-left: 5px;
    

    
    
}
#Pr-titre {
    font-size: 45px;
    padding-top: 20px;
}
@media (max-width:768px) {
    #Pr-titre {
        font-size: 30px;
        padding-top: 0px;
        margin-top: -45px;
      }
      .carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
        font-size: 28px;
    }
}
.opa-6 {
    opacity: 0.6;
}
.paragraphe {
    color: #100f0f;
    font-size: 15px !important;
}
.text-black {
    color: #181818;
    
}
.text-medium {
    font-size: 18px !important;
}
.team-paragraphe {
    color: #100f0f;
    font-size: 16px;
}
.fade {
    transition: opacity .4s linear
}
               
a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}
.ml-0{
    margin-left: 0 !important;
}

.site-branding-logo img {
    height: auto;
    width: 100%;
}
.h-t {
    text-align: center;
    color: #6ebb4c;
    margin-top: -35px;
    padding-bottom: 90px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width:425px) {
    .P-S {
        font-size: 12px ;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 70px;
    margin-top: -20vh;
}
    .f-s {
        font-size: 16px;
        font-weight: 100;
    }
    .hr-slide {
        width: 50px;
        height: 2px;
        border: 1px solid #6ebb4c ;
        background-color: #6ebb4c;
        position: relative;
        top: -7vh;
        left: 0%;
    }
}
@media (max-width:320px) {
    
     .P-S {
        font-size: 9px !important;
        font-weight: 700 !important;
        line-height: 20px !important;
        padding-bottom: 30px !important;
        margin-top: -33vh !important;
     }
     .widget.gsc-heading .title{
        font-size: 27px !important;
        text-transform: uppercase;
        font-weight: 700;
        color: #222222;
        font-family: "Montserrat";
        margin: 0;
        letter-spacing: -1px;
        padding-bottom: 10px !important;
        margin-top: -60px !important;
     }
     .h-t {
        text-align: center;
        color: #ed213e;
        margin-top: -45px;
        padding-bottom: 70px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .widget.gsc-call-to-action .title span {
        letter-spacing: 1px !important;
    }
    
    .gsc-box-info .content .title {
        margin-bottom: 18px;
    }
    #ab {
        padding-top: 30px;
    }
    .mvv .content .desc {
        font-size: 17px !important;
    }
    .widget.gsc-team.team-vertical .team-name {
        margin-top: -30px !important;
        top: -40px;
    }
    .hr-slide {
        width: 50px;
    height: 2px;
    border: 1px solid #6ebb4c;
    background-color: #6ebb4c;
    position: relative;
    top: -10vh !important;
    left: 0%;
    }
    
    .club p, .club li {
        padding-top: 15px;
    }
    .club li {
        display: flex;
    }
    .club li::before {
        margin-top: -8px;
    }
    #robo {
        position: absolute;
    width: 89%;
    height: fit-content;
    top: unset;
    bottom: 0;
    left: 16px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 0px;
    }


}
@media (max-width:414px) {
    .P-S {
        font-size: 12px !important;
        font-weight: 700 !important;
        line-height: 20px !important;
        padding-bottom: 45px !important;
        margin-top: -25vh !important;

    }
    .h-t {
        margin-top: -10px !important;
        padding-bottom: 40px !important;
    }
        

}
@media (max-width:360px) {
    .P-S {
        font-size: 12px !important;
        font-weight: 700 !important;
        line-height: 20px !important;
        padding-bottom: 47px !important;
        margin-top: -31vh !important;

    }
    .club li {
        margin-bottom: 10px;
        display: flex;
    }
    .club p, .club li {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .club li::before {
        margin-top: -8px;
    }
    #robo {
        left: 15px;
        width: 91%;
    }
    .hr-slide {
        width: 50px;
    height: 2px;
    border: 1px solid #6ebb4c;
    background-color: #6ebb4c;
    position: relative;
    top: -8vh !important;
    left: 0%;
    }
        

}
@media  (min-width: 375px) and (max-width: 414px) {
    .P-S {
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 20px !important;
        padding-bottom: 68px !important;
        margin-top: -29vh !important;

    }
    .gbb-row .bb-inner {
        padding-bottom: 25px !important;
    }

}
.gbb-row .bb-inner {
    padding-top: 5px !important;
}
.gbb-row {
    padding-bottom: 45px !important ;
}
.widget.gsc-team.team-vertical .team-name {
    margin-top: 10px !important;
}

}
.h-t {
    color: #6ebb4c;
}
.widget.gsc-heading .title {
    color: #6ebb4c !important;
}
.title {
    text-align: center;
}
.mvv .content .desc {
    font-size: 18px !important;
}
.social-icons {
    padding: 5px !important;
    border-radius: 100% !important;
    background-color: #eee !important;
    max-width: 36px;
    margin-top: -15px;
}


}

@media only screen and (max-width : 1024px) {

    .widget.gsc-team.team-vertical .team-name{
         
        margin-top: -20px !important;
    }
    
    .hr-slide{
        display: flex;
    }
}
#nav2 {
    text-align: center;
}

@media (max-width : 1025px) {

    .carousel .item:nth-of-type(1) {
        background: url('images/slider/slide1.png') center no-repeat ; background-size: cover !important;
       
    }
    .carousel .item:nth-of-type(2) {
        background: url('images/slider/slider-2-banner.png') center no-repeat ; background-size: cover  !important;
        
    }
    .carousel .item:nth-of-type(3) {
        background: url('images/slider/slider-1-banner.png') center no-repeat ; background-size: cover  !important;
    }
    .d-md-none {
        display: none;
    }
    header.header-v3 .stuck .main-menu .gva_menu>li>a.btn {
        font-size: 9px !important;
        padding: 10px 10px;
    }
    header.header-v3 .main-menu .gva_menu>li>a:not(.btn){
        font-size: 14px;
    }


}

#header .badge{
    padding: 5px;
    margin-left: 0;
    font-size: 15px;
    margin-bottom: 5px;
}

.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}

.bg-yellow{
    background-color: #fec44c !important;
}

.readmore .T-C {
    text-align: center;
}
.header-top a:not(.btn) {
    margin-left: 10px;
}

/*2222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222    */


@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: 250px;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 18%;
    background:#337ab7;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #6ebb4c;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.card-lire {
   color: #337ab7;
   text-align: end;
}
.accordion {
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  #blog_accordion {
      color: #337ab7;
  }
  
  
  
  
  .panel_blog {
    padding: 0 18px;
    display: none;
    background-color: none !important;
    overflow: hidden;
  }
  /* gallerie */
  

  

.col-1-of-3
{
  display:inline-block;
  width:31%;
  margin: 0 0.75%;
}
div.itemm *
{
  
  width:100%;
  height: auto;
  transition: all 0.5s ease;
}

div.itemm
{
  position:relative;
  overflow:hidden;
  text-align:center;
  width:105%;
  height: 277px;
 
  background-color: #337ab7;
}
div.itemm *:hover
{
   opacity:0.5;
  filter:grayscale(100%);
}

div.itemm i
{
  position:absolute;
  top:50%;
  left:50%;
  border-radius:50%;  width: 60px;
  height: 60px;  line-height: 60px;
  font-size:32px;
  transform:translate(-50%, -50%) scale(0);
  transition:0.4s ease-in;

  background-color:white;
}
div.itemm:hover i
{
  transform:translate(-50%, -50%) scale(1);
}

/* random media query*/
@media screen and (max-width:800px)
{
  .col-1-of-3
  {
    display:block;
    width:100%;
    height:300px;
    margin: 25px 2px;

  }
  div.itemm, div.blue, div.red ,div.purple
  {
    margin:12px 0;
  }
}
.card-content .card-desc .card-lire {
  text-align: right;
}
.zoom-out img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 277px;
}
.zoom-out img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.95;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 62%;
  max-width: 1200px;
  top: -55px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 24px;
  right: 183px;
  font-size: 35px !important;
  font-weight: bold;
  opacity: 2 !important;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.leftcolumn {
  float: left;
  width: 75%;
  margin-right: -32px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  margin-top: 30px;
}

/* Fake image */
.fakeimg {
  position: relative;
  width: 90%;
  padding: 20px;
  text-align: center;
  margin-left: 40px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: -12px;
}.ht{
    text-align: center;
      color: #6ebb4c;
      margin-top: -35px;
      padding-bottom: 0px;
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
  }
  .card h2 {
    margin-left: 50px;
    color: #337ab7;
  }
  .card h5 {
    margin-left: 55px;
  }
  .card p {
      margin-left: 55px;
      color: #100f0f;
      font-size: 15px;
      padding-right: inherit;
      margin-right: 110px;
      font-weight: 500;
      font-family: inherit;
  }
  .fake_img {
      margin-bottom: 18px;
      margin-right: 40px;
  }
  .fake-img {
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .card-buttom h4 {
    font-size: 16px;
    color: #333;
  }
  .card-buttom h2 {
    color: #337ab7;
  }
  .card-right h2 {
    color: #337ab7;
  }
  .card-right p {
    color: #333;
    font-size: 12px;
  }
  .fake-img p{
    color: #333;
  }
  .card-right h4{
    font-size: 12px;
    color: #333;
    margin-left:  0px;
    
  }
  .fake-img h5 {
    font-size: 18px;
  }
  .fake-img h4 {
    font-size: 12px;
  }
  #single_blog {
    margin-top: 65px;
  }
  .card-right h5 {
    font-size: 18px;
  }
  .card-right {
    margin-bottom: 40px;
  }

/* Clear floats after the columns */





@media (max-width : 1024px){
    .modal-content {
      width: 98%;
      top: 100px;
    }
    .close{
      top: 125px;
      right: 25px;
    }
    .card-right h2{
        font-size: 21px;
      }
      .card-buttom h4 {
        font-size: 13px;
      }
      div.itemm {
        height: 230px;
      }
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}

@media (max-width : 768px){
    .modal-content {
      width: 98%;
      top: 100px;
    }
    .close{
      top: 125px;
      right: 25px;
    }
    #gallerie{
      margin-bottom: 100px;
    }
    .fakeimg {
        width: 92%;
        margin-bottom: -15px;
        margin-left: 30px;
      }
      .card-right h5{
        
        margin-left: 55px;
      }
      .card-right h3 {
        margin-left: 51px;
       
      }
      .card-right h4 {
        margin-left: 57px;
       
      }
      .card p {
        font-size: 18px;
      }
      .card-right h2 {
        margin-left: 52px;
      }
      .fake_img {
        width: 60%;
        margin-left: 52px;
      }
      .card-right p {
        color: #333;
        font-size: 17px;
        margin-left: 58px;
     }
     .card-buttom h2 {
      margin-left: 52px;
     }
     .fake-img {
      width: 60%;
      margin-left: 52px;
     }
     .ht {
      text-align: center;
      color: #6ebb4c;
      margin-top: -35px;
      padding-bottom: 0px;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 35px;
    }
    div.itemm {
        height: 322px;
    }
    .zoom-out img {
        height: 334px;
       }

}

@media (max-width : 414px) {
    .modal-content {
      width: 98%;
      top: 100px;
    }
    .close{
      top: 125px;
      right: 25px;
    }
    .fakeimg{
        width: 97%;
        margin-left: 10px;
        margin-bottom: -25px;
        
      }
      .card p {
        margin-right: 0px;
      }
      .card-right h5{
        
        margin-left: 38px;
      }
      .card-right h3 {
        margin-left: 45px;
      }
      .card-right h4 {
        margin-left: 40px;
      }
      
      .fake_img{
        
        margin-bottom: 9px;
        margin-right: 45px;
        margin-left: 35px;
      }
      .card-right p {
        color: #333;
        font-size: 14px;
        margin-left: 43px;
        
      }
      .card-buttom h2 {
        color: #337ab7;
        margin-left: 42px;
      }
      .fake-img {
        margin-bottom: 40px;
        margin-right: 45px;
        margin-left: 30px;
      }
      .fake-img h4 {
        margin-left: 4px;
      }
      .fake-img p {
        margin-left: 6px;
      }
      .card-buttom h4 {
        margin-left: 4px;
      }
      .ht{
        font-size: 28px;
      }
      div.itemm {
        height: 316px;
       }
       .zoom-out img {
        height: 316px;
       }
}
@media (max-width: 411px) and (max-height:823px){
    div.itemm {
        height: 313px;
    }
    .zoom-out img {
        height: 314px;
    }
}
@media (max-width: 411px) and (max-height:731px){
    div.itemm {
        height: 311px;
    }
    .zoom-out img {
        height: 311px;
    }
}
@media (max-width: 375px) and (max-height:812px){
    div.itemm {
        height: 286px;
    }
    .zoom-out img {
        height: 286px;
    }
}
@media (max-width: 360px) {
    div.itemm {
        height: 274px;
    }
    .zoom-out img{
        height: 275px;
    }
}
@media (max-width: 320px) {
    div.itemm {
        height: 245px;
    }
    .zoom-out img{
        height: 245px;
    }
}
@media (max-width: 280px) {
    div.itemm {
        height: 214px;
    }
    .zoom-out img{
        height: 214px;
    }
}

.langMobile{
    margin-top: 40px !important;
    left: -16px !important;
}
.logoMObile{
    margin-top: 14px;
    width: 100% !important;
    margin-left: 10px;
}




